.header {
  display: grid;
  grid-template-areas: "a a a b b b" "e e c c d d" "e e c c d d";
  gap: 10px;
}
img {
  @apply rounded-[10px];
}
.image {
  &First {
    grid-area: a;
  }
  &Second {
    grid-area: b;
  }
  &Third {
    grid-area: e;
  }
  &Four {
    grid-area: c;
  }
  &Five {
    grid-area: d;
  }
}
.footer {
  @apply flex justify-between;
}
.wrapper {
  @apply flex items-center gap-[10px];
}
.title {
  @apply text-base max-w-[200px] text-ellipsis whitespace-nowrap overflow-hidden;
}
.created {
  //items-center
  @apply flex flex-col  text-userType font-light;
}
.type {
  @apply font-light;
}
