.section {
  @apply flex flex-col gap-20;
  @apply xl:flex-row; //1280px
}
.preview {
  @apply mx-auto;
  @apply xl:mx-0; //1280px
}
.form {
  @apply flex flex-col gap-6 w-full px-2;
  @apply xl:px-0;
}
.input {
  @apply h-[66px] w-full p-4 text-body-regular outline-none bg-footer rounded-xl;
}
.upload {
  @apply flex justify-between items-center gap-4 py-6 pl-4 w-full h-[102px] bg-footer  rounded-xl;

  &__type {
    @apply text-caption-2;
    @apply xl:text-body-regular; //1280px
  }
}
.label {
  @apply flex flex-col gap-2;
}
.textarea {
  @apply h-[190px] w-full p-4 text-body-regular outline-none bg-footer rounded-xl resize-none;
}
.button {
  @apply flex items-center gap-2 px-4 py-3 border-[1px] rounded-[30px] justify-center cursor-pointer;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
