.section {
  @apply flex flex-col gap-9 relative;
}
.wrapper {
  @apply flex gap-4 pr-4;
}
.shadow1 {
  @apply absolute h-[480px] bottom-[0px] w-20 z-10;
  background: rgb(20, 20, 31);
  background: linear-gradient(
    90deg,
    rgba(20, 20, 31, 1) 0%,
    rgba(31, 31, 44, 0.6306897759103641) 43%,
    rgba(0, 212, 255, 0) 100%
  );
}
.shadow2 {
  @apply absolute h-[480px] right-0 bottom-[0px] w-20 z-10;
  background: rgb(20, 20, 31);
  background: linear-gradient(
    270deg,
    rgba(20, 20, 31, 1) 0%,
    rgba(31, 31, 44, 0.6306897759103641) 43%,
    rgba(0, 212, 255, 0) 100%
  );
}
.header {
  @apply flex justify-between items-center;
}
@keyframes excerpt {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100%);
  }
}
