.container {
  @apply max-w-[1400px] mx-auto;
}
.header {
  @apply w-[100%] min-h-[750px] mb-20;
  background: rgba(0, 0, 0, 0.1) url("./img/pages/bgHome.jpg") no-repeat center;
  filter: blur();
  background-size: cover;
}
.nav {
  @apply sticky top-0 flex justify-between items-center py-3 backdrop-blur-3xl text-xs;
}
.logo {
  @apply flex gap-[10px] items-center;
}
.list {
  @apply flex gap-10;
}
.item {
  @apply relative flex gap-[6px] items-center cursor-pointer text-sm;
}
.dropdown {
  @apply absolute flex flex-col gap-4 bg-nftBg p-4 w-40 top-[50px];
  // background-color: rgba($color: #343444, $alpha: 0.5);
}
.hiddens {
  @apply hidden;
}
.wrapper {
  @apply flex gap-9 items-center;
}
.section {
  @apply flex flex-col items-center gap-8  text-center max-w-[500px] mx-auto py-8 select-none;
}
.title {
  @apply leading-tight;
}
.buttons {
  @apply flex gap-4;
}
.slug {
  background: linear-gradient(
    216.56deg,
    #4b50e6 19.8%,
    #7d5fff 21.4%,
    #a55eea 30%,
    #ffffff 33.8%,
    #a55eea 35.6%,
    #7d5fff 45%,
    #7158e2 46.4%,
    #9a55bd 66%,
    #4b50e6 77.32%
  );
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 85px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
