.container {
  @apply max-w-[1400px] mx-auto;
}
.header {
  // min-h-[750px] mb-20
  @apply mt-14 relative w-[100%] mb-10 overflow-hidden;

  &__bg {
    position: absolute;
    z-index: -2;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    background: rgba(0, 0, 0, 0.1) url("../img/pages/bgHome.jpg") no-repeat
      center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    // min-height: 750px;
    inset: calc(-72px + -24px) 0 0 0;
    @apply bg-cover;
  }
  &__grid {
    position: absolute;
    z-index: -1;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1) url("../img/pages/grid.webp") no-repeat
      center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    inset: calc(-72px + -24px) 0 0 0;
  }
}
.nav {
  @apply fixed right-0 left-0 top-0  flex justify-between items-center py-3 backdrop-blur-3xl text-xs z-50 px-4;
  @apply xl:justify-center xl:gap-32;
}
.logo {
  @apply flex gap-[10px] items-center;
}
.list {
  @apply gap-10 hidden;
  @apply xl:flex;
}
.item {
  @apply relative flex gap-[6px] items-center cursor-pointer text-sm;
}

.wrapper {
  @apply hidden gap-9 items-center;
  @apply xl:flex;
}
.section {
  @apply flex flex-col items-center gap-8  text-center max-w-[350px] mx-auto py-8 select-none;
  @apply xl:max-w-[600px]; //1280px
}
.title {
  @apply leading-tight text-[37px] font-extrabold max-w-[350px];
  @apply xl:max-w-[800px] xl:text-[80px]; //1280px
}
.buttons {
  @apply flex gap-4;
}

.slug {
  //text-[80px]
  @apply text-[50px] font-extrabold;
  @apply xl:text-[80px]; //1280px
  background: linear-gradient(
    216.56deg,
    #0294fe 0%,
    #ff2136 25%,
    #9b4dff 50%,
    #0294fe 75%,
    #ff2136 100%
  );
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
